<!--расширяет базовый.
Создан заголовок второго уровня, сообщающий, что мы сейчас находимся на странице входа на сайт,
 а также форма. Как и раньше, ее данные передаются с помощью POST-запроса, и используется csrf_token.
 Сами поля формы организованы в виде таблицы (с невидимыми границами) и кнопкой «Войти»,
 которой мы подтверждаем вход. Также здесь можно обнаружить кнопку «Регистрация», к которой вновь перейдем
 при обсуждении регистрации.-->
{% extends "main.html" %}

{% block content %}
<h2> Войти в систему </h2>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Войти">
</form>
<button> <a href="/sign/signup"> Регистрация </a></button>
{% endblock %}